<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="icon" href="./img/weather-app.png" type="image/gif" sizes="16x16">
        <title>About us</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        {{>header}}
        <p>Im ProGamer</p>
        <img src="img/goku.png" alt="Not Found" style="width:200px">
        {{>footer}}
    </body>
</html>
