<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <link rel="icon" href="./img/weather-app.png" type="image/gif" sizes="16x16">
        <meta charset="utf-8">
        <title>main</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        {{>header}}
        {{>footer}}
        <form>
            <input placeholder="location" id="place">
            <button id="search">Search</button>
        </form>
        <p id ="display_1"></p>
        <p id ="display_2"></p>
    </body>
    <script type="text/javascript" src="./js/script.js">

    </script>
</html>
